<a href="https://colab.research.google.com/github/vcdemy/20240806/blob/main/20240806%E7%AD%86%E8%A8%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20240806筆記

## Python的變數命名

* 開頭字元必須為英文字母跟底線
* 除了開頭字元外可以有數字
* 變數會區分大小寫

In [1]:
x = 1

In [2]:
X

NameError: name 'X' is not defined

In [3]:
123abc = 1

SyntaxError: invalid decimal literal (<ipython-input-3-567295c77224>, line 1)

In [4]:
_abc = 1

In [5]:
_abc

1

In [6]:
abc123 = 1

## 基本資料型態

* int => 整數
* float => 浮點數
* bool => 布林變數 (True, False)
* str => 字串

### int

In [7]:
x

1

In [8]:
type(x)

int

### float

In [9]:
y = 3.14

In [10]:
type(y)

float